/* font-family Roboto, Raleway*/

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #434455;
    background-color: #fff;
}

.nav-items {
    font-family: inherit;
    font-weight: inherit;
font-size: 16px;

line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.address-items {
font-family: inherit;
    font-weight: 400;
    font-style: normal;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: inherit;
}

.nav-items:hover, .nav-items:focus,
.address-items:hover, .address-items:focus
{color: #404bbf;}

.web-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;

line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.studio-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
 
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.hero {
    background-color: #2e2f42;
}

.main-title {
font-weight: 700;
font-size: 56px;

/* line-height: 60px; */ 
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.section-title {
    font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.title {
    font-family: inherit;
     font-weight: inherit;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.buttons {
font-family: inherit;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
padding: 10px 20px;
cursor: pointer;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
}

.buttons:hover, .buttons:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #404bbf;
}

.team {
    background-color: #f4f4fd;
    text-align: center;
}

.teammates {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}

ul {
    list-style: none;
}

a {
  color: inherit;  
  text-decoration: none;
}

.footer {
    background-color: #2e2f42;
}

.footer-end-logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;

line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}

.text-footer {
font-weight: 400;
font-size: 16px;

line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

p {
    font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}